@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Required to hide on direct load of Blazor Pages *@
@if (Request.Path == "/")
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}